@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Noto Serif", serif;
}

@font-face {
  font-family: "Modern";
  src: url("/assets/fonts/modernofbcomp-bold.otf") format("openType");
}

@theme {
  --font-modern: "Modern", "sans-serif";
  --breakpoint-lg: 1025px;
  --breakpoint-md: 770px;
  --color-customYellow:rgba(255, 214, 0, 1);
  --color-sky:rgba(85, 172, 238, 1);
}

.icon:hover svg path{
  fill: #55acee;
  transition: all 300ms linear;

}